<div class="card">
  <div class="card-header">
    <h3 class="display-6">Edit User Roles</h3>
    <%= @user.email %>
  </div>

  <div class="card-body">
    <%= simple_form_for @user do |f|%>
      <%= f.collection_check_boxes :role_ids, Role.all, :id, :name%>
      <br>
      <% if @user.errors.any? %>
        <hr>
        <%= f.error :roles, class: "text-danger" %>
      <% end %>
      <%= f.button :submit, class: "btn btn-sm btn-success mt-3"%>
    <% end %>
  </div>

  <div class="card-footer">
    <%= link_to "Cancel", users_path, class: "btn btn-sm text-light bg-danger" %>
  </div>
</div>
