<h3 class="text-center">
  Activity <span class="badge bg-info"><%= @activities.count %></span>
</h3>

<% @activities.each do |activity|%>
  <br>
  <%= activity.id %>
  <%= activity.trackable %>
  <%= activity.trackable_type %>
  <%= activity.key %>
  <%= activity.owner.email if activity.owner %>
<% end %>