<h3 class="text-center mb-4">
  Enrollments:
  <span class="badge bg-info"><%= @enrollments.count %></span>
</h3>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-sm">
    <thead>
      <tr>
        <th>ID</th>
        <th> <i class="fa-solid fa-user"></i> User</th>
        <th> <i class="fa-solid fa-clock"></i> <i class="fa-solid fa-lock-open"></i> bought</th>
        <th> <i class="fa-solid fa-graduation-cap"></i> Course</th>
        <th> <i class="fa-solid fa-clock text-warning"></i> Reviewed On</th>
        <th> <i class="fa-solid fa-star text-warning"></i> Rating</th>
        <th> <i class="fa-solid fa-comment text-warning"></i> Review</th>
        <th> <i class="fa-solid fa-dollar-sign"></i> Price</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @enrollments.each do |enrollment| %>
        <tr>
          <td><%= enrollment.id %></td>
          <td><%= link_to enrollment.user.email, user_path(enrollment.user) %></td>
          <td><%= enrollment.created_at.strftime('%d/%b/%Y, %H:%M')%></td>
          <td><%= link_to enrollment.course.title, course_path(enrollment.course) %></td>
          <td>
            <% if enrollment.rating.present? %>
              <%= enrollment.updated_at.strftime('%d/%b/%Y')%> 
            <% end %>
          </td>
          <td><%= enrollment.rating %></td>
          <td><%= enrollment.review %></td>
          <td><%= number_to_currency(enrollment.price) %></td>
          <td><%= link_to 'See Review', enrollment %></td>
          <td><%= link_to 'Add Review', edit_enrollment_path(enrollment) %></td>
          <td><%= link_to 'Delete', enrollment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'Courses', courses_path %>
