<div class="col mb-4">
  <div class="card h-100">
    <div class="card-header">
      <i class="fa-solid fa-graduation-cap"></i>
      <%= link_to course.title, course_path(course) %>
    </div>
    <div class="card-body text-secondary">
      <small class="card-desc">
        <%= course.description %>
      </small>
    </div>

    <div class="card-footer">
      <small class="card-text my-0 fw-bold">
        <i class="fa-solid fa-earth-africa"></i>
        <%= course.language %>
      </small>
      <small class="card-text my-0 fw-bold mx-3">
        <i class="fa-solid fa-signal"></i>
        <%= course.level %>
      </small>
      <small class="card-text my-0 fw-bold">
        <%= number_to_currency(course.price) %>
      </small>
    </div>

    <div class="card-footer">
      <small class="card-text d-block my-0">
        <i class="fa-regular fa-clock"></i>
        <%= course.created_at.strftime('%d-%b-%Y') %>
      </small>
      <small class="card-text d-block my-0 mt-1">
        <i class="fa-solid fa-chalkboard-user"></i>
        <%= course.user.username %>
      </small>
    </div>
    <div class="card-footer">
      <%= link_to 'Show', course, class: "btn btn-sm btn-primary" %>
      <%= link_to 'Edit', edit_course_path(course), class: "btn btn-warning btn-sm" if policy(course).edit? %>
      <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" if policy(course).destroy? %>
    </div>
  </div>
</div>